<section class="jumbotron landing-callout container">
  <h1>Your<br>Music<br><span class="sidewinder">Resource</span></h1>
  <%= link_to "Create Account", new_user_path, class: "button" %>
</section>
