<section class="container jumbotron artists-show headline">
  <h1>Artists</h1>
</section>

<div class="container section-container">
  <section class="clearfix">
    <% @artists.each do |artist| %>
      <div class="preview">
        <%= link_to image_tag(artist.image_url), artist %>
        <h3><%= link_to artist.name, artist %></h3>
      </div>
    <% end %>
  </section>
</div>
