<footer class="site-footer container clearfix">
  <small>&copy; 2016 Not Napster</small>

  <ul class="social-icons">
    <li><%= image_tag "facebook.svg" %></li>
    <li><%= image_tag "twitter.svg" %></li>
    <li><%= image_tag "github.svg" %></li>
  </ul>
</footer>
