<footer class="site-footer container clearfix">
  <small>&copy; 2016 Not Napster</small>

  <ul class="social-icons">
    <li><%= link_to image_tag("facebook.svg"), "#" %></li>
    <li><%= link_to image_tag("twitter.svg"), "#" %></li>
    <li><%= link_to image_tag("github.svg"), "https://github.com/scottfirestone/not_napster" %></li>
  </ul>
</footer>
