<footer>
  <small>&copy; 2016 Not Napster</small>

  <ul class="social-icons">
    <li>
      <a href="#"><img src="" alt="facebook"></a>
    </li>
    <li>
      <a href="#"><img src="" alt="twitter"></a>
    </li>
    <li>
      <a href="#"><img src="" alt="github"></a>
    </li>
  </ul>
</footer>
