<header class="site-header clearfix container">
  <%= link_to "Not Napster", root_path, class: "site-logo" %>

  <nav class="site-nav">
    <ul>
      <li><%= link_to "Albums", albums_path %></li>
      <!-- use path helper & glyphcon? -->
      <li><%= link_to "Cart", "#" %></li>
    </ul>
  </nav>
</header>
